.our-pricing{
    .flex-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    //       @include media('<widescreen') {
    //   margin-top: 50px;
    // justify-content: space-around;
    // }
    }
}
