.footer-section {
  position: relative;
}
.info-box {
  min-height: 485px;
}
.cta-message {
  margin: 0 auto;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  &-paragraph {
    margin-bottom: 70px;
    font: 1.8rem/2 var(--primary-font-family);
    text-align: center;
    letter-spacing: 1;
    color: var(--color-white);
  }
  &-title {
    font: 3.6rem/0.83 var(--primary-font-family);
    text-align: center;
    color: var(--color-white);
  }
}

