.hero {
  &-section {
    position: relative;
    max-height: 97vh;
    @include media('<widescreen') {
      max-height: unset;
    }
    &::before,
    &::after {
      @include size(0);
      position: absolute;
      z-index: 5;
      bottom: 0;
      content: '';
      border-top: 80px solid transparent;
    }
    &::before {
      right: 50vw;
      border-left: 50vw solid var(--color-white);
    }
    &::after {
      left: 50vw;
      border-right: 50vw solid var(--color-white);
    }
  }
  &-content-wrap {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media('<widescreen') {
      padding: 0 40px;
    }
  }
  &-description {
    position: relative;
    margin: 47px 0 68px 0;
    width: 580px;
    font: 1.4rem/2.4rem var(--primary-font-family);
    text-align: center;
    opacity: 0.7;
    p {
      margin: 0;
      padding: 0 30px;
    }
  }
  &-slogan {
    font: 2.4rem var(--secondary-font-family);
    letter-spacing: 1.2px;
    margin: 0 auto;
  }
  &-slider {
    &__item {
      position: relative;
      min-height: 100%;
    }
  }
}
.anchor {
  @include size(64px);
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-primary-white);
  box-shadow: 4px 4px 5px 0px rgba(238, 245, 249, 0.25);
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  .anchor-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.slick {
  &-slider {
    display: flex;
  }
  &-list {
    width: 100%;
    max-height: 990px;
    overflow: hidden;
  }
  &-arrow {
    position: absolute;
    left: 350px;
    z-index: 500;
    .slick-prev {
      left: 250px;
    }
  }
  &-track {
    display: flex;
  }
}

.title-holder {
  margin: 0 auto;
  padding: 45px 0;
  .title {
    font: bold 7.2rem var(--primary-font-family);
    letter-spacing: 7.2px;
    margin: 0;
    text-align: center;
    @include media('<widescreen') {
      font-size: 40px;
    }
  }
}
.bg-container {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: #000000;
    z-index: 5;
  }
  .bg-img {
    max-width: unset;
    min-width: 100%;
  }
}
.buttons-wrap {
  display: flex;
  justify-content: center;
  :nth-child(2) {
    margin-left: 30px;
  }
}
.line-dot-wrap {
  padding-top: 3px;
  margin: 0 auto;
  width: fit-content;
  height: 10px;
  .dot {
    @include size(8px);
    background-color: var(--color-red);
    border-radius: 50%;
    position: relative;
    &:after,
    &:before {
      @include size(100px, 2px);
      position: absolute;
      left: 19px;
      top: 3px;
      content: '';
      opacity: 0.7;
      background-color: #f1ebe7;
    }
    &:before {
      left: auto;
      right: 19px;
    }
  }
}
