.hero {
  &-section {
    position: relative;
    max-height: 97vh;
    &::before {
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 50vw;
      content: '';
      width: 0;
      height: 0;
      border-left: 50vw solid #fff;
      border-top: 80px solid transparent;
    }
    &::after {
      z-index: 2;
      position: absolute;
      bottom: 0;
      left: 50vw;
      content: '';
      width: 0;
      height: 0;
      border-right: 50vw solid #fff;
      border-top: 80px solid transparent;
    }
  }
  &-content-wrap {
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-description {
    position: relative;
    margin: 47px 0 68px 0;
    width: 580px;
    font: 1.4rem/1.71 var(--first-font-family);
    text-align: center;
    opacity: 0.7;
    p {
      margin: 0;
    }
  }
  &-slogan {
    font: 2.4rem var(--second-font-family);
    letter-spacing: 1.2px;
    margin: 0 auto;
  }
  &-slider {
    @include media('<widescreen') {
      margin-top: 50px;
    }
    &__item {
      position: relative;
      min-height: 100%;
    }
  }
}
.anchor {
  position: absolute;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: #f4f5f9;
  margin-bottom: -30px;
  box-shadow: 4px 4px 5px 0px rgba(238, 245, 249, 0.25);
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  .anchor-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.slick {
  &-slider {
    position: relative;
    display: flex;
  }
  &-list {
    width: 100%;
    max-height: 990px;
    overflow: hidden;
  }
  &-arrow {
    position: absolute;
    left: 350px;
    z-index: 500;
    .slick-prev {
      left: 250px;
    }
  }
  &-track {
    display: flex;
  }
}

.title-holder {
  margin: 0 auto;
  padding: 45px 0;
  .title {
    font: bold 7.2rem var(--first-font-family);
    letter-spacing: 7.2px;
    margin: 0;
    text-align: center;
    @include media('<widescreen') {
      font-size: 40px;
    }
  }
}
.bg-container {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: #000000;
    z-index: 5;
  }
   .bg-img {
    max-width: unset;
    min-width: 100%;
  }
}
.buttons-wrap {
  display: flex;
  justify-content: center;
  :nth-child(2) {
    margin-left: 30px;
  }
}
.line-dot-wrap {
  padding-top: 3px;
  margin: 0 auto;
  width: fit-content;
  height: 10px;
  .dot {
    width: 8px;
    height: 8px;
    background-color: var(--color-red);
    border-radius: 50%;
    position: relative;
    &:after,
    &:before {
      position: absolute;
      left: 19px;
      top: 3px;
      content: '';
      width: 100px;
      height: 2px;
      opacity: 0.7;
      background-color: #f1ebe7;
    }
    &:before {
      left: auto;
      right: 19px;
    }
  }
}
