.history {
  background-color: #f4f5f9;
  min-height: 690px;
  padding: 152px 0 50px 0;
  @include media('<widescreen') {
    padding: 50px 0;
  }
  .layout {
    display: flex;
    justify-content: center;
    @include media('<widescreen') {
      flex-wrap: wrap;
      padding: 0 40px;
    }
    .history-img {
      padding-right: 78px;
      flex-shrink: 0;
      @include media('<widescreen') {
        padding-bottom: 50px;
        padding-right: 0;
      }
    }
    .title-wrap {
      border-left: 6px solid var(--color-red);
      padding-left: 29px;
      .title {
        margin-top: 0;
        font: bold 3.6rem/1.4 var(--second-font-family);
        letter-spacing: 3.6px;
        text-align: left;
        color: #6a6a6a;
      }
    }
    p {
      font: 1.4rem/2 var(--second-font-family);
      text-align: left;
      color: #999999;
    }
  }
}
