.history {
  background-color: #f4f5f9;
  min-height: 690px;
  padding: 152px 0 50px 0;
  .layout {
    display: flex;
    justify-content: center;
    .history-img {
      padding-right: 78px;
    }
    .h3-wrap {
      border-left: 6px solid #e74c3c;
      padding-left: 29px;
      h3 {
        margin-top: 0;
        font-family: 'Source Sans Pro';
        font-size: 36px;
        font-weight: bold;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3.6px;
        text-align: left;
        color: #6a6a6a;
      }
    }
    p {
        font-family: 'Source Sans Pro';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
      }
  }
}
