.integration {
  background-color: #f4f5f9;
  padding-bottom: 140px;
}
.flex-container {
  display:flex;
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  justify-content: space-around;
  // grid-gap: 30px;
  .bg-img {
    filter: grayscale(100%);
    mix-blend-mode: multiply;
  }
}
.img-box {
  background: var(--color-white);
  min-height: 100px;
  max-width: 210px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  &:hover {
    background: var(--color-red);
  }
}
