.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 110px;
  border-radius: 50%;
  @include media('<widescreen') {
    justify-content: space-around;
    padding: 60px 60px 40px ;
    .member-box:before {
      height: 25px;
    }
    .member-box:after {
      opacity: 0.4;
    }
    .member-box {
      box-shadow: 0 0 5px 10px rgb(24 23 23 / 32%);
      transform: scale(1.7);
    }
    .employee-details {
      opacity: 1;
    }
  }
  &:hover {
    .member-box:before {
      height: 25px;
      @include media('<widescreen') {
        height: 0;
      }
    }
    .member-box:after {
      opacity: 0.4;
       @include media('<widescreen') {
        opacity: 0;
      }
    }
    .member-box {
      box-shadow: 0 0 5px 10px rgb(24 23 23 / 32%);
      transform: scale(1.7);
    }
    .employee-details {
      opacity: 1;
    }
  }
  &:nth-child(1) {
    margin-top: 4%;
  }
  &:nth-child(4) {
    margin-top: 8%;
  }
  &:nth-child(5) {
    margin-top: 12%;
  }
  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(5) {
    @include media('<widescreen') {
      margin: 0;
    }
  }
  .member-box {
    @include size(50px);
    position: relative;
    border-radius: 50%;
    transition: box-shadow 0.7s, transform 0.7s;
    &:before {
      @include size(1px, 0);
      transition: height 0.7s;
      position: absolute;
      content: '';
      left: 50%;
      top: 100%;
      background: rgb(255 255 255 / 50%);
    }
    &:after {
      position: absolute;
      transition: opacity 0.7s;
      content: '';
      background: var(--color-red);
      opacity: 0;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
    }
  }
  img {
    margin: 0;
  }
  &-details {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    transition: opacity 0.7s;
    &-name {
      font: 600 2.4rem/1.4 var(--primary-font-family);
      letter-spacing: 1.8px;
      color: var(--color-red);
    }
    &-role {
      font: 1.4rem/1.7 var(--secondary-font-family);
      letter-spacing: 1.4px;
      color: var(--color-white);
    }
  }
}
