.options-section{
  min-height: 435px;
  position: relative;
  background-color: #ffffff;
  padding-top: 115px;
  .layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}