.our-team {
  margin-top: 150px;
  background-image: url('../../images/team_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 750px;
  overflow: hidden;
  @include media('<desktop') {
    max-height: unset;
  }
  .section-intro {
    position: absolute;
    transform: translateY(-22%) translateX(40vw);
    @include media('<widescreen') {
      transform: translateY(-22%) translateX(34vw);
    }
    @include media('<desktop') {
      transform: translateY(-22%) translateX(27vw);
    }
    @include media('<tablet') {
      transform: translateY(-22%) translateX(25vw);
    }
    .title {
      color: var(--color-white);
    }
    .paragraph {
      color: var(--color-white);
    }
  }
}
.content-box {
  min-height: 650px;
  min-width: 100%;
  background-image: url('../../images/curve.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  @include media('<widescreen') {
    justify-content: space-between;
    align-items: flex-end;
    background-image: unset;
  }
  .layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @include media('<widescreen') {
      margin-top: 220px;
      margin-bottom: 20px;
      // padding-bottom: 120px;
      display: flex;
      align-items: center;
      background-image: unset;
    }
    @include media('<desktop') {
      margin-top: 300px;
      flex-direction: column;
    }
  }
}
