.section-intro {
  padding: 135px 30px 70px 30px;
  font: 1.4rem/2.07 var(--primary-font-family);
  text-align: center;
  color: var( --color-grey);
  .title {
    margin: 30px;
    font: bold 3.6rem var(--secondary-font-family);
    letter-spacing: 3.6px;
    text-align: center;
    color: var(--color-dark-grey);
    text-transform: uppercase;
  }
  .separator {
    position: relative;
    display: block;
    &:before {
      position: absolute;
      content: '';
      @include size(190px, 2px);

      left: 50%;
      bottom: -40px;
      transform: translate(-50%);
      background: linear-gradient(
        to right,
        var( --color-grey) 0%,
        var( --color-grey) 42%,
        transparent 43%,
        transparent 58%,
        var( --color-grey) 59%,
        var( --color-grey) 100%
      );
    }
    &:after {
      position: absolute;
      content: '';
      @include size(8px);
      left: 50%;
      bottom: -40px;
      transform: translate(-39%, 39%);
      background: var(--color-red);
      border-radius: 50%;
    }
  }
  .paragraph {
    font: 1.4rem/2.07 var(--primary-font-family);
    text-align: center;
    color: var( --color-grey);
    margin-bottom: 65px;
    position: relative;
  }
}
