.services {
  min-height: 768px;
  display: flex;
  align-items: center;
  .content {
    min-width: 1041px;
    min-height: 768px;
    background-color: #202020;
  }
  .service-img {
    .slide {
        
      //       width: 40%
    }
  }
}
