.study-section {
  width: 100%;
  min-height: 1190px;
  background: var(--color-primary-white);
  position: relative;
  padding-bottom: 120px;
  .slick {
    &-dots {
      display: flex;
      position: absolute;
      justify-content: center;
      bottom: 20%;
      left: 32%;
      margin: 0 auto;
      z-index: 999;
      @include media('<widescreen') {
        bottom: 29%;
        left: 42%;
      }
      @include media('<desktop') {
        left: 41%;
      }
      @include media('<tablet') {
        left: 35%;
      }
      @include media('<phone') {
        bottom: 25%;
        left: 31%;
      }

      li {
        font-size: 0;
        button {
          @include size(12px);
          padding: 0;
          margin: 0 3px;
          border-radius: 50%;
          border: solid 1px transparent;
          background: var(--color-primary-white);
        }
      }
      .slick-active {
        button {
          background-color: var(--color-red);
        }
      }
    }
  }
}
.study-slider-item {
  display: flex !important; // discase it. Without !important I couldn't change display inline-block to flex
  height: 772px;
  align-items: center;
  @include media('<widescreen') {
    flex-direction: column;
  }
  &-title {
    text-transform: uppercase;
    font: 600 1.8rem var(--primary-font-family);
    letter-spacing: 1.35px;
    color: var(--color-dark-grey);
  }
  &-image-wrap {
    @include size(90px);
    transform: rotate(45deg);
    background-color: var(--color-red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;

    img {
      transform: rotate(-45deg);
    }
  }
  .content {
    max-width: 665px;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    background-color: var(--color-white);
    z-index: 5;
    padding: 80px 61px 70px 61px;
  }
  p {
    font: 300 1.4rem/1.7 var(--secondary-font-family);
    letter-spacing: 1px;
    color: var( --color-grey);
    margin-bottom: 50px;
  }
  hr {
    size: 2px;
    width: 41px;
    color: var(--color-dark-grey);
    margin-bottom: 30px;
  }
}
.study-img-wrap {
  margin-left: -60px;
  @include media('<widescreen') {
    display: none;
  }
}
