.study-section {
  width: 100%;
  min-height: 1190px;
  background: #f4f5f9;
  position: relative;
  .slick {
    &-dots {
      display: flex;
      position: absolute;
      bottom: 17%;
      // left: 260px;
      left: 21%;
      z-index: 999;
      @include media('<widescreen') {
        bottom: 32%;
        left: 42%;
      }
      @include media('<desktop') {
        bottom: 32%;
        left: 39%;
      }
      @include media('<tablet') {
        bottom: 29%;
        left: 35%;
      }
      @include media('<phone') {
        bottom: 20%;
        left: 32%;
      }

      li {
        font-size: 0;
        button {
          padding: 0;
          margin: 0 3px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: solid 1px transparent;
          background: #f4f5f9;
        }
      }
      .slick-active {
        button {
          background-color: var(--color-red);
        }
      }
    }
  }
}
.study-slider-item {
  display: flex !important; // discase it. Without !important I couldn't change display inline-block to flex
  height: 772px;
  align-items: center;
  @include media('<widescreen') {
    flex-direction: column;
  }
  &-title {
    text-transform: uppercase;
    font: 600 1.8rem var(--first-font-family);
    letter-spacing: 1.35px;
    color: #6a6a6a;
  }
  &-image-wrap {
    transform: rotate(45deg);
    width: 90px;
    height: 90px;
    background-color: var(--color-red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;

    img {
      transform: rotate(-45deg);
    }
  }
  .content {
    max-width: 665px;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    background-color: #ffffff;
    z-index: 5;
    padding: 80px 61px 70px 61px;
  }
  p {
    font: 300 1.4rem/1.7 var(--second-font-family);
    letter-spacing: 1px;
    color: #999999;
    margin-bottom: 50px;
  }
  hr {
    size: 2px;
    width: 41px;
    color: #6a6a6a;
    margin-bottom: 30px;
  }
}
.study-img-wrap {
  margin-left: -60px;
  @include media('<widescreen') {
    display: none;
  }
}
