.filter {
  text-align: center;
  margin: 2em auto;
}

.filter a {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #999999;
  text-decoration: none;
  position: relative;
  margin: 15px;
  &:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    top: 15%;
    right: -20px;
    transform: rotate(25deg) translate(-50%);
    background: #999999;
  }
  &:last-child::after {
    width: 0;
    height: 0;
  }
}

.filter a.current {
  font-weight: bold;
  color: #e74c3c;
}

.boxGroup {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxGroup div {
  max-width: 475px;
  max-height: 474px;

  position: relative;
  img {
    width: 100%;
  }
  &:hover {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0.8;
      background-color: #e74c3c;
    }
  }
}
