<section id="about-us" class="about-us">
  <div class="about-us-content">
    @@include('../partials/components/about-us/about-us-item.html',{
    "count":"3891",
    "name":"user favorites",
    "src":"images/heart-icon.png"
    })
    @@include('../partials/components/about-us/about-us-item.html',{
    "count":"281K",
    "name":"Posts Last 24 Hours",
    "src":"images/label-icon.png"
    })
    @@include('../partials/components/about-us/about-us-item.html',{
    "count":"618",
    "name":"Total Posts",
    "src":"images/like-icon.png"
    })
    @@include('../partials/components/about-us/about-us-item.html',{
    "count":"178",
    "name":"Campaigns",
    "src":"images/star-icon.png"
    })
    @@include('../partials/components/about-us/about-us-item.html',{
    "count":"285",
    "name":"Amazing Features",
    "src":"images/ribbon-icon.png"
    })
  </div>
  <style>
    .about-us {
      background: url('images/city-scape.png') no-repeat 50% 50% /cover;
    }
  </style>
</section>
