<section id="option-section" class="options-section">
    <div class="layout">
        @@include("../partials/components/options/option-card.html", {
        "src":"images/option-image-1.png",
        "alt":"sleek",
        "title":"SLEEK DESIGN",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
        @@include("../partials/components/options/option-card.html", {
        "src":"images/option-image-2.png",
        "alt":"sleek",
        "title":"CLEAN CODE",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
        @@include("../partials/components/options/option-card.html", {
        "src":"images/option-image-3.png",
        "alt":"sleek",
        "title":"CREATIVE IDEAS",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
        @@include("../partials/components/options/option-card.html", {
        "src":"images/option-image-4.png",
        "alt":"sleek",
        "title":"FREE SUPPORT",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
    </div>
</section>
