<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="wrapper">
    @@include('../partials/components/hero-section.html')
    @@include('../partials/components/options/options-section.html')
    @@include('../partials/components/history-section.html')
    @@include('../partials/components/services-section.html')
    @@include('../partials/components/section-intro.html',{
    "title":"RECENT WORKS",
    "body":"It has survived not only five centuries, but also the leap scrambled it to make a type."
    })
    @@include('../partials/components/works-section.html')
    @@include('../partials/components/study-section.html')
    @@include('../partials/components/about-us/about-us-section.html')
    @@include('../partials/components/section-intro.html',{
    "title":"OUR PRICING",
    "body":"A 30 days free trial for all. A brief story about how this process works, keep an eye till the end."
    })
    @@include('../partials/components/our-pricing/our-pricing-section.html')
    @@include('../partials/components/our-team-section.html')
    @@include('../partials/components/integration-section.html')
    @@include('../partials/components/blog/blog-section.html')
    <!-- @@include('../partials/components/section-intro.html',{
    "title":"kEEP IN TOUCH",
    "body":"Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec."
    }) -->
    @@include('../partials/components/contact-section.html')

    <div class="footer-section"></div>
  </div>
  @@include('../partials/scripts/common.html')
</body>

</html>
