.option-card {
  max-width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    .figure-container {
      border: solid 1px var(--color-red);
      transform: rotate(45deg);
      .figure {
        transform: rotate(-45deg);
      }
    }
    .title {
      color: var(--color-red);
    }
  }
}
.card-content-row {
  &:before {
    position: absolute;
    width: 41px;
    content: '';
    left: 104px;
    bottom: 90px;
    border-radius: 5px;
    border: solid 1px var( --color-dark-grey);
  }
  .title {
    font: 600 1.8rem/1.4 var(--primary-font-family);
    text-align: center;
    color: var(--color-dark-grey);
    margin-bottom: 40px;
  }
  p {
    font: 300 1.2rem/1.67 var(--secondary-font-family);
    letter-spacing: 0.9px;
    text-align: center;
    color: var( --color-grey);;
  }
}
.figure-container {
  @include size(73px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var( --color-grey);;
  transition: transform 0.3s;
  margin-bottom: 30px;
  .figure {
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
  }
}
