.section-intro-works{
    margin-top: 135px;
}
.section-intro-study{
    margin-top: 150px;
}
.section-intro-study{
    margin-top: 150px;
}
.section-intro-pricing{
    margin-top: 156px; 
}
.section-intro-integrations{
    margin-top: 150px;  
}
.section-intro-blog{
    margin-top: 119px;
}
.section-intro-keep-in-touch{
    margin-top: 149px;
}