<div class="blog-item @@class">
  <div class="blog-item-image">
    <img src="@@src" alt="@@alt">
  </div>
  <div class="blog-item-box-content">
    <div class="blog-item-categories">
      <a href="#" class="category-link">art</a>
      <a href="#">t-shirt</a>
    </div>
    <h2 class="blog-item-box-title"><a href="@@titleLink">@@titleText</a></h2>
    <p class="blog-item-box-paragraph">@@blogText</p>
    <a href="@@redirectToLink" class="blog-item-box-more">@@redirectToText</a>
  </div>
</div>
