<section id="our-blog" class="our-blog">
    @@include('../partials/components/section-intro.html',{
    "title":"OUR BLOG",
    "body":"Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio."
    })
  <div class="list-box">
    @@include('../partials/components/blog/blog-item.html',{
      "src":"images/blog-1.png",
      "alt":"coffee",
      "titleText":"T-SHIRT DESIGN",
      "titleLink":"#",
      "blogText":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.",
      "redirectToLink":"#",
      "redirectToText":"Read More",
      "class":"blog-item"
    })
      @@include('../partials/components/blog/blog-item.html',{
      "src":"images/blog-2.png",
      "alt":"coffee",
      "titleText":"T-SHIRT DESIGN",
      "titleLink":"#",
      "blogText":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the induStry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.",
      "redirectToLink":"#",
      "redirectToText":"Read More",
      "class":"blog-item"
      })
      @@include('../partials/components/blog/blog-item.html',{
      "src":"images/blog-3.png",
      "alt":"coffee",
      "titleText":"T-SHIRT DESIGN",
      "titleLink":"#",
      "blogText":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.",
      "redirectToLink":"#",
      "redirectToText":"Read More",
      "class":"blog-item--right"
      })
      @@include('../partials/components/blog/blog-item.html',{
      "src":"images/blog-4.png",
      "alt":"coffee",
      "titleText":"T-SHIRT DESIGN",
      "titleLink":"#",
      "blogText":"Lorem Ipsum is simply dummy Lorem ipsum do provident blalo consequuoluptate provident mollitia quos vero officiis officia dolor aspernatur illum error illo praesentium molestias quis, alias aliquam doloremque! Repellendus maiores, ea molestias ut inventore dicta aspernatur dolore provident doloribus rem quo quis quas, at sed nulla? Maiores architecto doloremque ex aperiam nihil ab nam saepe atque temporibus iure. Vitae obcaecati voluptates blanditiis quo inventore la, praesentium ut, repudiandae eligendi consectetur quibusdam qui officiis esse voluptate voluptates vol?.",
      "redirectToLink":"#",
      "redirectToText":"Read More",
      "class":"blog-item--right"
      })
  </div>

</section>
