<section id="our-pricing" class="our-pricing">
    <div class="layout">
        <div class="flex-container">
            @@include('../partials/components/our-pricing/our-pricing-item.html',{
            "title":"starter",
            "price":"19"
            })
            @@include('../partials/components/our-pricing/our-pricing-item.html',{
            "title":"premium",
            "price":"39"
            })
            @@include('../partials/components/our-pricing/our-pricing-item.html',{
            "title":"business",
            "price":"99"
            })
        </div>
    </div>
</section>
