<section id='about-us' class="about-us">
    <div class="about-us-content">
        @@include('../partials/components/about-us-item.html',{
        "count":"3891",
        "name":"user favorites",
        "src":"images/heart-icon.png"
        })
        @@include('../partials/components/about-us-item.html',{
        "count":"3891",
        "name":"user favorites",
        "src":"images/heart-icon.png"
        })
        @@include('../partials/components/about-us-item.html',{
        "count":"3891",
        "name":"user favorites",
        "src":"images/heart-icon.png"
        })
        @@include('../partials/components/about-us-item.html',{
        "count":"3891",
        "name":"user favorites",
        "src":"images/heart-icon.png"
        })
        @@include('../partials/components/about-us-item.html',{
        "count":"3891",
        "name":"user favorites",
        "src":"images/heart-icon.png"
        })
    </div>

</section>