<!-- <section class="articles">
    <div class="intro">
        <div class="layout">
            <h2 class="intro-title">hjdfhsdkkfs</h2>
            <p>sadjkfjklfsd</p>
            <span class="separator"></span>
        </div>
    </div>
    <div class="info-boxes">
        <div class="info-box">
            <div class="info-image">
                <img src="#" alt="">
            </div>
            <div class="info-box-content">
                <div class="info-categories">
                    <a href="#" class="category-link">art</a>
                    <a href="#">t-shirt</a>
                </div>
                <h2 class="info-box-title"><a href="#">sadkjflsdf</a></h2>
                <p>asdrasdasdasdas</p>
                <a href="#" class="more">Read More</a>
            </div>
        </div>
    </div>
</section> -->