<section class="footer-section">
  <div class="info-box">
    <div class="cta-message">
      <h2 class="cta-message-title">Let's Get Started Now.
        <strong>It's FREE!
        </strong>
      </h2>
      <p class="cta-message-paragraph">30 day free trial. Free plan allows up to 2 projects. Pay if you need more.
        Cancel anytime. No catches.</p>
      @@include("../partials/components/buttons/btn-cta.html", { "title":
      "start free trial",
      "class":"cta-btn--red cta-btn--small",
      "href":"#"
      })
    </div>
  </div>

  <a href="#hero-section"><div class="go-to-up"><i class="fa fa-angle-up" aria-hidden="true"></i></div></a>
</section>
