<header class="header">
    <div class="layout">
        <a href="#" class="logo">
            <img class="slide" srcset="
                images/logo.png,
                images/logo@2x.png 2x,
            " src="images/logo@2x.png 2x" alt="Logo" />
        </a>
        <nav>
            <ul class="navigation">
                <li><a href="#">HOME</a></li>
                <li><a href="#our-history">ABOUT US</a></li>
                <li><a href="#option-section">PORTFOLIO</a></li>
                <li><a href="#our-pricing">PRICING</a></li>
                <li><a href="#our-team">TEAM</a></li>
                <li><a href="#our-blog">BLOG</a></li>
                <li><a href="#contact-section">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>
