<header class="header">
    <div class="layout">
        <a href="#" class="logo">
            <img class="slide" srcset="
                images/logo.png,
                images/logo@2x.png 2x,
            " src="images/logo@2x.png 2x" alt="Logo" />
        </a>
        <nav>
            <ul class="navigation">
                <li><a href="#hero-section">HOME</a> </li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#option-section">PORTFOLIO</a></li>
                <li><a href="#works-section">PRICING</a></li>
                <li><a href="#">TEAM</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>