<header class="header">
    <div class="layout">
        <a href="#" class="logo">
            <img srcset="
            images/logo.png,
            images/logo@2x.png 2x,
            images/logo@3x.png 3x
          " src="images/logo@3x.png" alt="Logo">
        </a>
        <nav>
            <ul class="ul-nav">
                <li>HOME</li>
                <li>ABOUT US</li>
                <li>PORTFOLIO</li>
                <li>PRICING</li>
                <li>TEAM</li>
                <li>BLOG</li>
                <li>CONTACT</li>
            </ul>
        </nav>
    </div>
</header>