<section class="integration">
  @@include('../partials/components/section-intro.html',{
  "title":"Great Integrations with Others",
  "body":"Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. Nullam sit amet odio eu est aliquet euismoda a urna. Proin eu urna suscipit, dictum quam nec."
  })
  <div class="layout flex-container">
    <div class="img-box">
      <img class="bg-img" srcset="images/720-px-us-osha-logo-svg.png,
          images/720-px-us-osha-logo-svg@2x.png 2x
        " src="images/720-px-us-osha-logo-svg@2x.png 2x" alt="osha" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/affiliations-nyc-dca.png,
              images/affiliations-nyc-dca@2x.png 2x
            " src="images/affiliations-nyc-dca@2x.png 2x" alt="affiliations-nyc-dca" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/logo-dob.png,
              images/logo-dob@2x.png 2x
            " src="images/logo-dob@2x.png 2x`" alt="NYC buildings" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/bbb-logo-accredited.png,
              images/bbb-logo-accredited@2x.png 2x
            " src="images/720-px-us-osha-logo-svg@2x.png 2x" alt="bbb-logo-accredited" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/epa-logo-editted.png,
              images/epa-logo-editted@2x.png 2x
            " src="images/epa-logo-editted@2x.png 2x" alt="epa-logo-editted" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/dummy.png,
              images/dummy@2x.png 2x
            " src="images/dummy@2x.png 2x" alt="dummy" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/logo-type.png,
              images/logo-type@2x.png 2x
            " src="images/logo-type@2x.png 2x" alt="logo-type" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/imaginarium.png,
              images/imaginarium@2x.png 2x
            " src="images/imaginarium@2x.png 2x" alt="imaginarium" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/random-brand.png,
              images/random-brand@2x.png 2x
            " src="images/random-brand@2x.png 2x" alt="random-brand" />
    </div>
    <div class="img-box">
      <img class="bg-img" srcset="images/another-logo.png,
              images/another-logo@2x.png 2x
            " src="images/another-logo@2x.png 2x" alt="another-logo" />
    </div>
  
  </div>
</section>
