<section class="options-section">
    <div class="layout">
        @@include('../partials/components/option-card.html', {
        "src":"../../../images/1.jpg",
        "alt":"sleek",
        "title":"SLEEK DESIGN",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
        @@include('../partials/components/option-card.html', {
        "src":"../../../images/2.jpg",
        "alt":"sleek",
        "title":"CLEAN CODE",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
        @@include('../partials/components/option-card.html', {
        "src":"../../../images/3.jpg",
        "alt":"sleek",
        "title":"CREATIVE IDEAS",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
        @@include("../partials/components/option-card.html", {
        "src":"../../../images/4.jpg",
        "alt":"sleek",
        "title":"FREE SUPPORT",
        "body":"Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry."
        })
    </div>
</section>