<section id="our-team" class="our-team">
    @@include('../partials/components/section-intro.html',{
    "title":"OUR team",
    "body":"Meet the craziest team. Share your thoughts with them."
    })
    <div class="content-box">
        <div class="layout">
        @@include('../partials/components/member-box.html',{
        "src":"images/3.png",
        "name":"Kazi Erfan",
        "role":"UI/UX Designer",
        })
        @@include('../partials/components/member-box.html',{
        "src":"images/3.png",
        "name":"Kazi Erfan",
        "role":"UI/UX Designer",
        })
        @@include('../partials/components/member-box.html',{
        "src":"images/3.png",
        "name":"Kazi Erfan",
        "role":"UI/UX Designer",
        })
        @@include('../partials/components/member-box.html',{
        "src":"images/3.png",
        "name":"Kazi Erfan",
        "role":"UI/UX Designer",
        })
        @@include('../partials/components/member-box.html',{
        "src":"images/3.png",
        "name":"Kazi Erfan",
        "role":"UI/UX Designer",
        })
        </div>
    </div>
</section>
