<div class="our-pricing-item">
    <div class="our-pricing-item-up-bar">
        <h4 class="our-pricing-item-up-bar-title">@@title</h4>
        <div class="our-pricing-item-up-bar-price-container">
            <h4 class="our-pricing-item-up-bar-price">$@@price</h4>
            <p>per month</p>
        </div>
    </div>
    <div class="our-pricing-item-content-bar">
        <div class="our-pricing-item-content-bar-text-box">
            <p>Competition Analysis Methods
                All Ranked URLs
                International Support System
                Social Media Tracking</p>
        </div>
        @@include("../partials/components/buttons/btn-cta.html", {
        "title":"choose plan",
        "class":"cta-btn--gray cta-btn--small",
        "href":"https://www.google.com/search?q=choose+plane&hl=ru&sxsrf=ALeKk03W2IxTlh5iScw0295D2sLbp2dbhg%3A1627318983887&ei=x-r-YNStNcvIrgSm3ILYAg&oq=choose+plane&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEMsBMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgQIIxAnOgUIABCxAzoLCC4QsQMQxwEQowI6CAgAELEDEIMBOg4ILhCxAxCDARDHARCjAjoCCAA6BAgAEEM6BAguEEM6BwgAELEDEEM6BQguELEDSgQIQRgAUIkVWLMxYP41aABwAngAgAGSAYgBzQuSAQQxLjEymAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=gws-wiz&ved=0ahUKEwiUreHPm4HyAhVLpIsKHSauACsQ4dUDCA8&uact=5"
        })
    </div>
</div>