<section class="services">
    <div class="content-slider">
        <div class="content">
            <div class="title-container">
                <h3 class="content-title">OUR SERVICES</h3>
            </div>
            <div class="section">
                <h4 class="section-title">WEB DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry"s standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/monitor-icon.svg" logo="monitor">
                </div>
            </div>
            <div class="section">
                <h4 class="section-title">PRINT DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ip sum has been the industry"s standard dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/docs-icon.svg" logo="list">
                </div>
            </div>
            <div class="section">
                <h4 class="section-title">PHOTOGRAPHY</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry"s standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/camera-icon.svg" logo="camera">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title-container">
                <h3 class="content-title">OUR SERVICES</h3>
            </div>
            <div class="section">
                <h4 class="section-title">WEB DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry"s standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/monitor-icon.svg" logo="monitor">
                </div>
            </div>
            <div class="section">
                <h4 class="section-title">PRINT DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ip sum has been the industry"s standard dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/docs-icon.svg" logo="list">
                </div>
            </div>
            <div class="section">
                <h4 class="section-title">PHOTOGRAPHY</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry"s standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/camera-icon.svg" logo="camera">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title-container">
                <h3 class="content-title">OUR SERVICES</h3>
            </div>
            <div class="section">
                <h4 class="section-title">WEB DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry"s standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/monitor-icon.svg" logo="monitor">
                </div>
            </div>
            <div class="section">
                <h4 class="section-title">PRINT DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ip sum has been the industry"s standard dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/docs-icon.svg" logo="list">
                </div>
            </div>
            <div class="section">
                <h4 class="section-title">PHOTOGRAPHY</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry"s standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="images/camera-icon.svg" logo="camera">
                </div>
            </div>
        </div>

    </div>
    <div class="service-img">
        <img class="slide" src="images/1517938380_o.png" alt="Our services" />
    </div>
</section>