<section class="services">
    <div class="content-slider">

        <div class="content">
            <div class="h3-wrap">
                <h3>OUR SERVICES</h3>
            </div>
            <div class="section">
                <h4>WEB DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry's standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/mon.png" logo="monitor">
                </div>
            </div>
            <div class="section">
                <h4>PRINT DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ip sum has been the industry's standard dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/document_9_icon-icons.com_54619.png" logo="list">
                </div>
            </div>
            <div class="section">
                <h4>PHOTOGRAPHY</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry's standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/photocameraoutline_80020.png" logo="camera">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="h3-wrap">
                <h3>OUR SERVICES</h3>
            </div>
            <div class="section">
                <h4>WEB DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry's standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/mon.png" logo="monitor">
                </div>
            </div>
            <div class="section">
                <h4>PRINT DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ip sum has been the industry's standard dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/document_9_icon-icons.com_54619.png" logo="list">
                </div>
            </div>
            <div class="section">
                <h4>PHOTOGRAPHY</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry's standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/photocameraoutline_80020.png" logo="camera">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="h3-wrap">
                <h3>OUR SERVICES</h3>
            </div>
            <div class="section">
                <h4>WEB DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry's standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/mon.png" logo="monitor">
                </div>
            </div>
            <div class="section">
                <h4>PRINT DESIGN</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ip sum has been the industry's standard dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/document_9_icon-icons.com_54619.png" logo="list">
                </div>
            </div>
            <div class="section">
                <h4>PHOTOGRAPHY</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the
                    industry's standard
                    dummy text ever.</p>
                <div class="figure-wrap">
                    <img src="../../images/photocameraoutline_80020.png" logo="camera">
                </div>
            </div>
        </div>

    </div>
    <div class="service-img">
        <img class="slide" src="../../../images/1517938380_o.png" alt="Our services" />
    </div>
</section>