<section class="study-section">
    <div class="layout">
        <!-- <div class="flex-container"> -->
        <div class="study-slider">
            <div class="study-slider-item">
                <div class="study-slider-item-image-wrap">
                    <img src="" alt="">

                </div>
                <h4></h4>
                <p></p>
                @@include('../partials/components/buttons/btn-cta.html', { "title":
                "GET STARTED NOW",
                "href":"https://www.google.com/search?q=get+started+&hl=ru&sxsrf=ALeKk00n2SvC4qWRSIZxSteCBX8noJyC8g%3A1625313914706&ei=elLgYJ_JKr3_7_UPs5uo8AU&oq=get+started+&gs_lcp=Cgdnd3Mtd2l6EAMyAggAMgIIADICCAAyAggAMgUIABDLATICCAAyAggAMgIIADICCAAyBQgAEMsBOgQIIxAnOgoIABCxAxCDARBDOgUIABCxAzoECAAQQzoFCC4QsQM6CAguELEDEJMCOgcIABCxAxBDOggILhCxAxCDAToHCAAQChDLAToICC4QxwEQrwE6BAgAEAo6BggAEAcQHkoECEEYAFCI6gFYiKICYO30BGgAcAJ4AIABhAGIAfEJkgEEMC4xMZgBAKABAaoBB2d3cy13aXrAAQE&sclient=gws-wiz&ved=0ahUKEwif7qKU7sbxAhW9_7sIHbMNCl4Q4dUDCA4&uact=5"
                })
            </div>
            <div class="study-img-wrap">
                <img class="anchor-img" srcset="
                images/put-your-image-2.png,
                images/put-your-image-2@2x.png 2x,
                images/put-your-image-2@3x.png 3x
                "
                src="images/put-your-image-2@3x.png" alt="Web design" />
            </div>

        </div>

        <!-- </div> -->
    </div>
</section>