<section class="study-section">
    <div class="layout">
        @@include('../partials/components/section-intro.html',{
        "title":"CASE STUDY",
        "body":"A brief story about how this process works, keep an eye till the end."
        })
        <div class="study-slider">
            <div class="study-slider-item">
                <div class="content">
                    <div class="study-slider-item-image-wrap">
                        <img src="images/lamp-icon.png" alt="lamp-icon">

                    </div>
                    <h4 class='study-slider-item-title'>ACCUMULATE CREATIVE IDEAS</h4>
                    <hr />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the
                        industry. Lorem Ipsum
                        is
                        simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry
                        Printing and typelorem
                        Ipsum
                        has been the setting let.</p>
                    @@include("../partials/components/buttons/btn-cta.html", {
                    "title":"read more",
                    "class":"cta-btn--red cta-btn--small",
                    "href":"https://www.google.com/search?q=get+started+&hl=ru&sxsrf=ALeKk00n2SvC4qWRSIZxSteCBX8noJyC8g%3A1625313914706&ei=elLgYJ_JKr3_7_UPs5uo8AU&oq=get+started+&gs_lcp=Cgdnd3Mtd2l6EAMyAggAMgIIADICCAAyAggAMgUIABDLATICCAAyAggAMgIIADICCAAyBQgAEMsBOgQIIxAnOgoIABCxAxCDARBDOgUIABCxAzoECAAQQzoFCC4QsQM6CAguELEDEJMCOgcIABCxAxBDOggILhCxAxCDAToHCAAQChDLAToICC4QxwEQrwE6BAgAEAo6BggAEAcQHkoECEEYAFCI6gFYiKICYO30BGgAcAJ4AIABhAGIAfEJkgEEMC4xMZgBAKABAaoBB2d3cy13aXrAAQE&sclient=gws-wiz&ved=0ahUKEwif7qKU7sbxAhW9_7sIHbMNCl4Q4dUDCA4&uact=5"
                    })
                </div>
                <div class="study-img-wrap">
                    <img class="anchor-img" srcset="
                images/put-your-image-2.png,
                images/put-your-image-2@2x.png 2x" [src]="images/put-your-image-2@2x.png 2x" alt="Web design" />
                </div>
            </div>
            <div class="study-slider-item">
                <div class="content">
                    <div class="study-slider-item-image-wrap">
                        <img src="images/lamp-icon.png" alt="lamp-icon">

                    </div>
                    <h4 class='study-slider-item-title'>ACCUMULATE CREATIVE IDEAS</h4>
                    <hr />
                    <p>Lorem Ipsum 22222 is simply dummy text of the printing and typesetting let. Lorem Ipsum has been
                        the
                        industry. Lorem Ipsum
                        is
                        simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry
                        Printing and typelorem
                        Ipsum
                        has been the setting let.</p>
                    @@include("../partials/components/buttons/btn-cta.html", {
                    "title":"read more",
                    "class":"cta-btn--red cta-btn--small",
                    "href":"https://www.google.com/search?q=get+started+&hl=ru&sxsrf=ALeKk00n2SvC4qWRSIZxSteCBX8noJyC8g%3A1625313914706&ei=elLgYJ_JKr3_7_UPs5uo8AU&oq=get+started+&gs_lcp=Cgdnd3Mtd2l6EAMyAggAMgIIADICCAAyAggAMgUIABDLATICCAAyAggAMgIIADICCAAyBQgAEMsBOgQIIxAnOgoIABCxAxCDARBDOgUIABCxAzoECAAQQzoFCC4QsQM6CAguELEDEJMCOgcIABCxAxBDOggILhCxAxCDAToHCAAQChDLAToICC4QxwEQrwE6BAgAEAo6BggAEAcQHkoECEEYAFCI6gFYiKICYO30BGgAcAJ4AIABhAGIAfEJkgEEMC4xMZgBAKABAaoBB2d3cy13aXrAAQE&sclient=gws-wiz&ved=0ahUKEwif7qKU7sbxAhW9_7sIHbMNCl4Q4dUDCA4&uact=5"
                    })
                </div>
                <div class="study-img-wrap">
                    <img class="anchor-img" srcset="
                            images/put-your-image-2.png,
                            images/put-your-image-2@2x.png 2x" [src]="images/put-your-image-2@2x.png 2x"
                        alt="Web design" />
                </div>
            </div>
            <div class="study-slider-item">
                <div class="content">
                    <div class="study-slider-item-image-wrap">
                        <img src="images/lamp-icon.png" alt="lamp-icon">

                    </div>
                    <h4 class='study-slider-item-title'>ACCUMULATE CREATIVE IDEAS</h4>
                    <hr />
                    <p>Lorem Ipsum 333333333 is simply dummy text of the printing and typesetting let. Lorem Ipsum has
                        been the
                        industry. Lorem Ipsum
                        is
                        simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry
                        Printing and typelorem
                        Ipsum
                        has been the setting let.</p>
                    @@include("../partials/components/buttons/btn-cta.html", {
                    "title":"read more",
                    "class":"cta-btn--red cta-btn--small",
                    "href":"https://www.google.com/search?q=get+started+&hl=ru&sxsrf=ALeKk00n2SvC4qWRSIZxSteCBX8noJyC8g%3A1625313914706&ei=elLgYJ_JKr3_7_UPs5uo8AU&oq=get+started+&gs_lcp=Cgdnd3Mtd2l6EAMyAggAMgIIADICCAAyAggAMgUIABDLATICCAAyAggAMgIIADICCAAyBQgAEMsBOgQIIxAnOgoIABCxAxCDARBDOgUIABCxAzoECAAQQzoFCC4QsQM6CAguELEDEJMCOgcIABCxAxBDOggILhCxAxCDAToHCAAQChDLAToICC4QxwEQrwE6BAgAEAo6BggAEAcQHkoECEEYAFCI6gFYiKICYO30BGgAcAJ4AIABhAGIAfEJkgEEMC4xMZgBAKABAaoBB2d3cy13aXrAAQE&sclient=gws-wiz&ved=0ahUKEwif7qKU7sbxAhW9_7sIHbMNCl4Q4dUDCA4&uact=5"
                    })
                </div>
                <div class="study-img-wrap">
                    <img class="study-img" srcset="
                                        images/put-your-image-2.png,
                                        images/put-your-image-2@2x.png 2x" [src]="images/put-your-image-2@2x.png 2x"
                        alt="Web design" />
                </div>
            </div>


        </div>
    </div>
</section>