<section class="tabs-section">

    <div class="filter">
        <a class="all current" href="#">All</a>
        <a class="PRINT-DESIGN" href="#">PRINT DESIGN</a>
        <a class="animation" href="#">ANIMATION</a>
        <a class="web-design" href="#">WEB DESIGN</a>
        <a class="photography" href="#">PHOTOGRAPHY</a>
        <a class="video" href="#">VIDEO</a>
        <a class="art" href="#">ART</a>

    </div>


    <div class="boxGroup">
        <div class="box web-design">
            <img class="anchor-img" srcset="
                ../../images/1.png,
                ../../images/1@2x.png 2x,
                ../../images/1@3x.png 3x
                " src="../../images/1@3x.png" alt="Web design" />
        </div>
        <div class="box print-design">
            <img class="anchor-img" srcset="
                ../../images/2.png,
                ../../images/2@2x.png 2x,
                ../../images/2@3x.png 3x
                " src="../../images/2@3x.png" alt="Print design" />
        </div>
        <div class="box print-design">
            <img class="anchor-img" srcset="
                ../../images/3.png,
                ../../images/3@2x.png 2x,
                ../../images/3@3x.png 3x
                " src="../../images/3@3x.png" alt="Print design" />
        </div>
        <div class="box photography">
            <img class="anchor-img" srcset="
                ../../images/4.png,
                ../../images/4@2x.png 2x,
                ../../images/4@3x.png 3x
                " src="../../images/4@3x.png" alt="Photography" />
        </div>
        <div class="box art">
            <img class="anchor-img" srcset="
                ../../images/5.png,
                ../../images/5@2x.png 2x,
                ../../images/5@3x.png 3x
                " src="../../images/5@3x.png" alt="Art" />
        </div>
        <div class="box print-design">
            <img class="anchor-img" srcset="
                ../../images/6.png,
                ../../images/6@2x.png 2x,
                ../../images/6@3x.png 3x
                " src="../../images/6@3x.png" alt="Print design" />
        </div>
        <div class="box animation">
            <img class="anchor-img" srcset="
                ../../images/7.png,
                ../../images/7@2x.png 2x,
                ../../images/7@3x.png 3x
                " src="../../images/7@3x.png" alt="Animation" />
        </div>
        <div class="box video">
            <img class="anchor-img" srcset="
                ../../images/8.png,
                ../../images/8@2x.png 2x,
                ../../images/8@3x.png 3x
                " src="../../images/8@3x.png" alt="Video" />
        </div>
    </div>


</section>