<section id="works-section" class="works-section">
    <div class="filter">
        <a class="all current" data-filter-nav-type="all" href="#">All</a>
        <a  data-filter-nav-type="print-design" href="#">PRINT DESIGN</a>
        <a  data-filter-nav-type="animation" href="#">ANIMATION</a>
        <a  data-filter-nav-type="web-design" href="#">web DESIGN</a>
        <a  data-filter-nav-type="photography" href="#">PHOTOGRAPHY</a>
        <a  data-filter-nav-type="video" href="#">VIDEO</a>
        <a  data-filter-nav-type="art" href="#">ART</a>
    </div>
    <div class="box-group">
        <div class="box" data-filter-type="web-design">
            <img class="anchor-img" srcset="
                images/work-1.png,
                images/work-1@2x.png 2x
                "[src]="images/work-1@2x.png 2x" alt="Web design" />
        </div>
        <div class="box" data-filter-type="print-design">
            <img class="anchor-img" srcset="
                images/work-2.png,
                images/work-2@2x.png 2x
                " [src]="images/work-2@2x.png 2x" alt="Print design" />
        </div>
        <div class="box" data-filter-type="print-design">
            <img class="anchor-img" srcset="
                images/work-3.png,
                images/work-3@2x.png 2x
                " [src]="images/work-3@2x.png 2x" alt="Print design" />
        </div>
        <div class="box" data-filter-type="photography">
            <img class="anchor-img" srcset="
                images/work-4.png,
                images/work-4@2x.png 2x
                " [src]="images/work-4@2x.png 2x" alt="Photography" />
        </div>
        <div class="box" data-filter-type="art">
            <img class="anchor-img" srcset="
                images/work-5.png,
                images/work-5@2x.png 2x
                " [src]="images/work-5@2x.png 2x" alt="Art" />
        </div>
        <div class="box" data-filter-type="print-design">
            <img class="anchor-img" srcset="
                images/work-6.png,
                images/work-6@2x.png 2x
                " [src]="images/work-6@2x.png 2x" alt="Print design" />
        </div>
        <div class="box" data-filter-type="animation">
            <img class="anchor-img" srcset="
                images/work-7.png,
                images/work-7@2x.png 2x
                " [src]="images/work-7@2x.png 2x" alt="Animation" />
        </div>
        <div class="box" data-filter-type="video">
            <img class="anchor-img" srcset="
                images/work-8.png,
                images/work-8@2x.png 2x
                " [src]="images/work-8@2x.png 2x" alt="Video" />
        </div>
    </div>


</section>