<section class="tabs-section">

    <div class="filter">
        <a class="all current" href="#">All</a>
        <a class="PRINT-DESIGN" href="#">PRINT DESIGN</a>
        <a class="animation" href="#">ANIMATION</a>
        <a class="web-design" href="#">WEB DESIGN</a>
        <a class="photography" href="#">PHOTOGRAPHY</a>
        <a class="video" href="#">VIDEO</a>
        <a class="art" href="#">ART</a>

    </div>


    <div class="box-group">
        <div class="box web-design">
            <img class="anchor-img" srcset="
                images/work-1.png,
                images/work-1@2x.png 2x
                "src="images/work-1@2x.png 2x" alt="Web design" />
        </div>
        <div class="box print-design">
            <img class="anchor-img" srcset="
                images/work-2.png,
                images/work-2@2x.png 2x
                " src="images/work-2@2x.png 2x" alt="Print design" />
        </div>
        <div class="box print-design">
            <img class="anchor-img" srcset="
                images/work-3.png,
                images/work-3@2x.png 2x
                " src="images/work-3@2x.png 2x" alt="Print design" />
        </div>
        <div class="box photography">
            <img class="anchor-img" srcset="
                images/work-4.png,
                images/work-4@2x.png 2x
                " src="images/work-4@2x.png 2x" alt="Photography" />
        </div>
        <div class="box art">
            <img class="anchor-img" srcset="
                images/work-5.png,
                images/work-5@2x.png 2x
                " src="images/work-5@2x.png 2x" alt="Art" />
        </div>
        <div class="box print-design">
            <img class="anchor-img" srcset="
                images/work-6.png,
                images/work-6@2x.png 2x
                " src="images/work-6@2x.png 2x" alt="Print design" />
        </div>
        <div class="box animation">
            <img class="anchor-img" srcset="
                images/work-7.png,
                images/work-7@2x.png 2x
                " src="images/work-7@2x.png 2x" alt="Animation" />
        </div>
        <div class="box video">
            <img class="anchor-img" srcset="
                images/work-8.png,
                images/work-8@2x.png 2x
                " src="images/work-8@2x.png 2x" alt="Video" />
        </div>
    </div>


</section>